body {
    background: #a8c090;
    margin: 0;
    width: 100%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

.board {
	display: table;
	margin: auto;
	border: 1px #789078 solid;
	border-spacing: 0;
}

.request-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.request {
    display: block;
    position: absolute;
    background: #a8c090;
}

.text {
    text-align: center;
}

.pieces {
    display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	width: 64px;
	height: 64px;
	padding: 0;
}

.black {
	background: #a89060;
    border: #a89060 3px solid;
}

.white {
	background: #d8d890;
    border: #d8d890 3px solid;
}

.available {
    border: #e38b00 3px solid;
}

.chessman {
	width: 64px;
	height: 64px;
	display: block;
}
